<body>
<script src="/javascripts/jquery-3.5.1.slim.min.js"></script>
<script src="/javascripts/jquery-3.5.1.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/fileinput.min.js"></script>
<script src="/javascripts/theme.js"></script>
<!-- <script src="/javascripts/admin/frmadmin.js"></script>-->
</body>
