<link rel="stylesheet" href="/stylesheets/style/footer.css">

<div class="footer">
    <p><strong>Todos los derechos reservados para la Biblioteca Escolar</strong></p>
    <p>Copyrigth <strong>&COPY;</strong> 2020</p>
</div>