<div class="form">
  <h2>Agregar Nuevo Libro</h2>
  <form method="POST" action="/users/insertar">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Titulo</span>
      </div>
      <input
        required
        id="titulo"
        name="titulo"
        type="text"
        class="form-control"
        placeholder="Introducción a la Filosofía"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Autor</span>
      </div>
      <input
        required
        id="autor"
        name="autor"
        type="text"
        class="form-control"
        placeholder="James Rachels"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          >Datos de Publicación</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="The McGraw-Hill Companies"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"
          >Descripción Física</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Primera edición en español 2007 - Hecho en México"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Páginas</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="680"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Medio</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Computadora"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Soporte</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Recurso en linea"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nota</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Reproducción electrónica y descarga"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">ISBN</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="978-607-16-2082-8"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Materia</span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Computadoras"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Nuevo</button>
      <button class="btn btn-success">Guardar</button>
      <button class="btn btn-danger">Eliminar</button>
    </div>
  </form>
</div>
